.product-card {
  max-width: 400px;
  margin-bottom: 8px;
}
img {
  max-width: 152px;
  width: auto;
  height: auto;
}
.heroesElem {
  list-style-type: none;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
